<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.19.1" targetFramework="net45" />
  <package id="AutoFixture.Xunit" version="3.19.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="SemanticComparison" version="3.19.1" targetFramework="net45" />
  <package id="Should" version="1.1.20" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.extensions" version="1.8.0.1549" targetFramework="net45" />
</packages>