@using Utils
<html>
<head>
    <title>RESTEndpoints</title>

</head>
    <body>
        <div id="links">
            <h2>Navigation</h2>
            <a href="/" rel="home">Home</a><br />
        </div>
        <h1>Welcome to Restful Endpoints!</h1>
        <div id="bugs">
            @Raw(Editor.For(Model))
        </div>
    </body>
</html>